{{ 'custom-section-image-banner.css'  | asset_url  | stylesheet_tag }}

{%- style -%}

{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="custom-banner" >
    {%- if section.settings.image != blank -%}
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col col-6">
                <h1>Heading</h1>
            </div>
            <div class="col col-6">
                <img  class="background-image" srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}" 
                src="{{ section.settings.image | img_url: '1500x' }}"
                loading="lazy"
                alt="{{ section.settings.image.alt | escape }}"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
                >
            </div>
        </div>
    </div>


    {%- endif -%}
</div>

{% schema %}
{
    "name":"Custom Image Banner",
    "tag":"section",
    "class":"custom-section-banner-image",
    "settings":[
       {
          "type":"image_picker",
          "id":"image",
          "label":"Custom Banner Image"
       },
       {
          "type":"checkbox",
          "id":"adapt_height_first_image",
          "label":"Adapt Height First Image",
          "default":false
       },
       {
          "type":"range",
          "id":"image_overlay_opacity",
          "label":"label",
          "unit":"%",
          "min":0,
          "max":100,
          "step":10,
          "default":0
       }
    ],
    "presets": [{
        "name": "Custom Image Banner Preset"
    }]
 }
{% endschema %}