{{ 'custom-carousel.css' | asset_url | stylesheet_tag }}

<div class="page-width">
<div class="owl-carousel owl-theme">
	{% for block in section.blocks %}
		{% case block.type %}
			{% when "carousel" %}
				<div class="item">
					{{ block.settings.carousel_image | img_url: '2048x' | img_tag }}
					<h3>{{block.settings.carousel_heading}}</h3>
					{{block.settings.carousel_content}}
				</div>
		{% else %}
     

	{% endcase %}
	{% endfor %}
</div>
</div>



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
<script src="{{ 'owl-carousel.js' | asset_url }}" defer="defer"></script>
{% endjavascript %}



{% schema %}
{
	"name": "Custom Carousel",
	"tag": "section",
	"class": "custom-carousel",
	"settings": [{
		"type": "text",
		"id": "title",
		"label": "Carousel Title"
	}],
	"blocks": [{
		"name": "Carousel",
		"type": "carousel",
		"settings": [
        
        {
            "type": "text",
            "id": "carousel_heading",
            "label": "Carousel Heading"
        },
        {
			"type": "image_picker",
			"id": "carousel_image",
			"label": "Carousel Image"
		},
        {
            "type": "richtext",
            "id": "carousel_content",
            "label": "Carousel Content"
        }
        ]
	}],
	"presets": [{
		"name": "Custom Carousel"
	}]

}
{% endschema %}